<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59642762439-3ju7rlmdf7h8pa6g8kb4iddmodqkv7rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59642762439-3ju7rlmdf7h8pa6g8kb4iddmodqkv7rn</string>
	<key>API_KEY</key>
	<string>AIzaSyBubwW5uN0kAZvwE3COWZSd4WoPinxbf5o</string>
	<key>GCM_SENDER_ID</key>
	<string>59642762439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.p4Vh2549162018</string>
	<key>PROJECT_ID</key>
	<string>flutter-vehiculos-34686</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-vehiculos-34686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59642762439:ios:7b5c6fbd19fc2092921ae2</string>
</dict>
</plist>